<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="gp7_robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0061643 6.0941E-07 0.083158"
        rpy="0 0 0" />
      <mass
        value="5.2154" />
      <inertia
        ixx="0.026026"
        ixy="-2.5924E-05"
        ixz="0.00013984"
        iyy="0.025295"
        iyz="-4.7677E-05"
        izz="0.021721" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.0153 -0.0034006 0.095449"
        rpy="0 0 0" />
      <mass
        value="2.9447" />
      <inertia
        ixx="0.011219"
        ixy="-0.0001666"
        ixz="0.0021235"
        iyy="0.011909"
        iyz="0.00048996"
        izz="0.0088687" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-0.00059534 0 0.1829"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.1674 0.10374 -0.071798"
        rpy="0 0 0" />
      <mass
        value="6.2406" />
      <inertia
        ixx="0.068409"
        ixy="-0.048512"
        ixz="-0.00034317"
        iyy="0.085647"
        iyz="-0.00034232"
        izz="0.11052" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.022744 -0.079163 0.1355"
      rpy="1.3435 -1.5708 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.014128 0.021347 -0.072853"
        rpy="0 0 0" />
      <mass
        value="2.8491" />
      <inertia
        ixx="0.006526"
        ixy="-0.00034671"
        ixz="2.7754E-05"
        iyy="0.0086401"
        iyz="-3.953E-05"
        izz="0.0077915" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.34163 0.28515 0"
      rpy="0 0 3.1416" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.051904 -0.00015863 0.15849"
        rpy="0 0 0" />
      <mass
        value="2.7554" />
      <inertia
        ixx="0.0094091"
        ixy="0.0001005"
        ixz="0.0020665"
        iyy="0.010785"
        iyz="-0.00030234"
        izz="0.0037613" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="-0.062543 -0.062685 -0.072"
      rpy="1.5708 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0.31036 0 0.95062" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0002539 0.01321 -0.015248"
        rpy="0 0 0" />
      <mass
        value="0.24589" />
      <inertia
        ixx="0.00013953"
        ixy="-2.1178E-06"
        ixz="1.9619E-07"
        iyy="0.00015684"
        iyz="-1.2922E-06"
        izz="0.00018562" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="-0.11212 -0.0135 0.34315"
      rpy="1.5735 -0.80813 -0.0076134" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="EE">
    <inertial>
      <origin
        xyz="-0.0020601 1.5615E-05 0.049992"
        rpy="0 0 0" />
      <mass
        value="0.12078" />
      <inertia
        ixx="3.694E-05"
        ixy="-2.4143E-07"
        ixz="-2.6117E-06"
        iyy="4.263E-05"
        iyz="-2.6299E-07"
        izz="4.5899E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/EE.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/EE.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0.0675 -0.0135"
      rpy="1.5708 1.5626 -3.1416" />
    <parent
      link="link5" />
    <child
      link="EE" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="finger1_link">
    <inertial>
      <origin
        xyz="0.031632 0.013946 -0.0078457"
        rpy="0 0 0" />
      <mass
        value="0.02604" />
      <inertia
        ixx="2.614E-06"
        ixy="-1.0329E-06"
        ixz="-6.5441E-08"
        iyy="2.7309E-06"
        iyz="-4.1359E-08"
        izz="4.2422E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/finger1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/finger1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="finger1_joint"
    type="revolute">
    <origin
      xyz="-0.015003 0.024747 0.10859"
      rpy="1.5602 -0.25861 2.4732" />
    <parent
      link="EE" />
    <child
      link="finger1_link" />
    <axis
      xyz="0.040132 0 0.99919" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="finger2_link">
    <inertial>
      <origin
        xyz="0.032005 0.013727 -0.0078308"
        rpy="0 0 0" />
      <mass
        value="0.02604" />
      <inertia
        ixx="2.5864E-06"
        ixy="-9.6811E-07"
        ixz="-6.6548E-08"
        iyy="2.7586E-06"
        iyz="-3.8756E-08"
        izz="4.2422E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/finger2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gp7_robot/meshes/finger2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="finger2_joint"
    type="revolute">
    <origin
      xyz="0.013688 -0.025498 0.10859"
      rpy="1.5757 0.12207 -0.72183" />
    <parent
      link="EE" />
    <child
      link="finger2_link" />
    <axis
      xyz="0.040132 0 0.99919" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>